*{
  margin:0,0;
}
#desk{
width: 100%;
height: 33em;
position: absolute;
overflow:hidden;
left: 0;
top :0;
}
#bg{
  position: absolute;
  width: 100%;
  height: 26em;
  left: 0;
  top:0;
  background-image: url("../images/shuimo2.jpg");
  background-repeat: no-repeat;
  background-size:100% 100%;
}
#bird{
    width:4em;
    height:4em;
    background-image:url("../images/7.png");
    background-repeat: no-repeat;
    border-radius:50%;
     position: absolute;
     top:55%;
     left:45%;
}
#startbg_out{
  position: absolute;
  left: 50%;
}
#startbg{
    position: relative;
     top:0em;
    left:-50%;
    width:30em;
    height:30em;
    background-image:url("../images/start.png");
    background-repeat: no-repeat;
}
@media screen and (max-width: 800px) {
  #startbg{
  left:-45%;
}
}
#but1{
position: absolute;
bottom:0em; 
left:0%;
width:100%;
height:7em;
}
#but2{
position: absolute;
bottom:0em; 
left:100%;
width:100%;
height:7em;
}
 .column{
  position: absolute;
  width: 6em;
  height: 100em;
  overflow: hidden;
  left: 100%;
  top:0;
}
.column .column1{
position: absolute;
width: 100%;
height:100em;
top:-32em;
}
@media screen and (max-width: 800px) {
  .column{
  width: 4em;
}
}
#tip_out{
  width: 100%;
  height: 18em;
  position: absolute;
  left: 0;
  top:5em;
  
}
#tip{
margin: 0 auto;
width: 12em;
height: 12em;
background-color:   #3F3F3F;
text-align: center;
line-height: 8em;
font-family: "楷体";
font-size: 22px;
color: white;
opacity: 0;
border-radius: 10%;
}
#restart{
 position: relative;
  width: 5em;
  height: 1em;
  line-height: 1em;
 border: 1px solid white;
 margin: 0 auto;
 z-index: 1;

}

#jishu{
position: relative;
color: #FFFFFF;
width:10em;
height: 3em;
margin: 0 auto;
text-align: center;
font-size: 1.5em;
}
#click{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#start{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
}